.addcountry{
    width: 100%;
    height: 94%; 
    // display: flex;
    // justify-content: center;
    // justify-content:space-between;
    // flex-direction: row;
    // column-gap: 70px;
    // padding: 50px;
    // align-items: center;
    // margin-bottom: 300px;
    // background-color: rgb(202, 202, 234);
    // border: 1px solid rgb(86, 86, 246);
    box-shadow: 5px 5px 10px rgb(166, 166, 238);
    border: 1px solid rgb(146, 144, 144) ;
}

.name{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin-top: 160px;
}

.drop{
    margin-top: 10px;
    // font-size: 20px;
}

.ng-select {
    height: 100px;
    // width: px;


}

select{
    // margin-top: 20px;
//     // margin-right: 60px;
    width: 270px;
    height: 50px; 
    text-align: center;
    font-size: 18px;
//     display: flex;
    // align-content:flex-start;
    // justify-content:space-between;
}

label{
    font-size: 20px;
    font-weight: 500;
}

form{
    // margin-top: 50px;
    // margin-left: 20px;
    // padding-top: 100px;
    // justify-content:space-around;

    // display: flex;
    // flex-direction: row;
    // column-gap: 5px;

}

p{
 margin-top: 60px;
 margin-left: 50px;
 font-size: 25px;
}

button {
    // margin-bottom: 100px;
    margin-left: 450px;
    // padding-top: 100px;
    margin-top: 150px;
    width: 150px;
    height: 50px;    
}
// .addC{
//     // margin-left: 325px;
//     display: flex;
//     justify-content:end;
//     // align-items: flex-end;
//     margin-bottom: 20px;
//     width: 500px;
//     // background-color:rgb(189, 189, 242);
//     box-shadow: 0px 5px 10px rgb(166, 166, 238);
// }

// .col-md-4{
//     margin: 35px;
// }
// .add{
//     // display: flex;
//     // justify-content:end;
//     margin-left: 150px;   

// }
// .asdf{
//     background-color: rgb(238, 238, 241);
//     // border: 5px solid rgb(207, 207, 233);
//     box-shadow: 5px 5px 20px rgb(166, 166, 238);


// }