.box{
    width: 100%;
    height: 20%;
    // display: flex;
    // justify-content: space-between;

    box-shadow: 5px 5px 10px rgb(166, 166, 238);
    border: 1px solid rgb(146, 144, 144) ;

}

h4{
    margin-top: 20px;
    padding-left: 20px;
}

.box1{ 
    
    margin-left: 80%;
    
}

// span{
//     height: px;
//     width: 50px;
// }
