<div class="sidebar">
    <h2 class="text-light text-decoration-underline">Master</h2>
    <div class=" d-flex flex-column justify-content-between">
        <div class="item p-2 fs-5 text-light"><span routerLink="/country/country-list">Country</span></div>
        <div class="item p-2 fs-5 text-light"><span routerLink="/city/city-list"></span>City</div>
        <div class=" item p-2 fs-5 text-light">Restaurant Type</div>
        <div class=" teim p-2 fs-5 text-light">Cuisine</div>
      </div>    
</div>
  

                    